# DWD KOSTRA 2010 Data

In [26]:
source_path = "../kostra/original/Raster_geog_bezug.csv"
target_path = "../kostra/raster_clean.csv"

def clean_csv_file(source_file, target_file):
    with open(source_path, "r") as source_file:
        with open(target_path, "w") as target_file:
            for line in source_file:
                target_file.write(line.replace(",", ".").replace(";", ","))
                
clean_csv_file(source_path, target_path)

In [27]:
import pandas as pd

raster = pd.read_csv("../kostra/raster_clean.csv")

In [28]:
raster.head()

,index_rc,Col,Row,Col_Row,X_CENT_GEO,Y_CENT_GEO,X1_NW_GEO,Y1_NW_GEO,X2_SW_GEO,Y2_SW_GEO,...,RP,BW,BY,SL,BE,BB,MV,SN,ST,TH
0,0,0,0,00 - 000,5.379842,55.124544,5.309806,55.160118,5.318217,55.084210,...,0,0,0,0,0,0,0,0,0,0
1,1,1,0,01 - 000,5.511518,55.129200,5.441585,55.164845,5.449761,55.088930,...,0,0,0,0,0,0,0,0,0,0
2,2,2,0,02 - 000,5.643221,55.133722,5.573392,55.169438,5.581333,55.093515,...,0,0,0,0,0,0,0,0,0,0
3,3,3,0,03 - 000,5.774953,55.138109,5.705228,55.173897,5.712933,55.097966,...,0,0,0,0,0,0,0,0,0,0
4,4,4,0,04 - 000,5.906711,55.142362,5.837091,55.178220,5.844560,55.102282,...,0,0,0,0,0,0,0,0,0,0

In [29]:
raster.describe()

,index_rc,Col,Row,X_CENT_GEO,Y_CENT_GEO,X1_NW_GEO,Y1_NW_GEO,X2_SW_GEO,Y2_SW_GEO,X3_SE_GEO,...,RP,BW,BY,SL,BE,BB,MV,SN,ST,TH
count,8453.000000,8453.000000,8453.000000,8453.000000,8453.000000,8453.000000,8453.000000,8453.000000,8453.000000,8453.000000,...,8453.000000,8453.000000,8453.000000,8453.000000,8453.000000,8453.000000,8453.000000,8453.000000,8453.000000,8453.000000
mean,53039.000000,39.000000,53.000000,10.483232,51.133454,10.423178,51.171791,10.422481,51.095580,10.543186,...,0.040341,0.068970,0.134390,0.006625,0.002839,0.058559,0.049687,0.038921,0.041642,0.034307
std,30888.725981,22.804857,30.888718,2.760139,2.355068,2.762425,2.355046,2.757862,2.355100,2.757857,...,0.196769,0.253417,0.341091,0.081128,0.053212,0.234812,0.217309,0.193418,0.199782,0.182028
min,0.000000,0.000000,0.000000,5.379842,47.017950,5.309806,47.058411,5.318217,46.982345,5.449761,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,26059.000000,19.000000,26.000000,8.097882,49.097045,8.036879,49.135308,8.040054,49.058999,8.158788,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,53039.000000,39.000000,53.000000,10.482661,51.140150,10.422677,51.179578,10.421983,51.103291,10.542546,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,80019.000000,59.000000,80.000000,12.865180,53.169106,12.807590,53.209101,12.802609,53.132957,12.923576,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,106078.000000,78.000000,106.000000,15.672433,55.207281,15.611760,55.245289,15.601708,55.169238,15.732990,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [30]:
raster.dtypes

index_rc        int64
Col             int64
Row             int64
Col_Row        object
X_CENT_GEO    float64
Y_CENT_GEO    float64
X1_NW_GEO     float64
Y1_NW_GEO     float64
X2_SW_GEO     float64
Y2_SW_GEO     float64
X3_SE_GEO     float64
Y3_SE_GEO     float64
X4_NE_GEO     float64
Y4_NE_GEO     float64
SH              int64
HH              int64
NI              int64
HB              int64
NW              int64
HE              int64
RP              int64
BW              int64
BY              int64
SL              int64
BE              int64
BB              int64
MV              int64
SN              int64
ST              int64
TH              int64
dtype: object